@import "tailwindcss";
@plugin "daisyui";
/* @import "aos/dist/aos.css"; */

/* Font */

.primary-font {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.common-font{
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* Common BG Color  */
.primary-bg {
background-color:#79BF4C
}
.secondary-bg {
  background-color:#F19131
}
.common-bg{
  background-color: #1D6B94;
}
.primary-text{
  color: #79BF4C
}
.secondary-text{
  color: #F19131
}
.common-text{
  color: #1D6B94;
}

/* animated button */
.button-hover-effect {
  position: relative;
}

.button-hover-effect::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(219, 124, 25);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.button-hover-effect:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);

}

.button-hover-effect:hover {
  /* background-color: rgb(14, 85, 120); */
  color: white;
}